#This config file contains the various environment variables for the application including hostnames for OLE servers and secret keys for external APIs. It's based on vlucas' library at https://github.com/vlucas/phpdotenv

#Application variables
language = 
email = 

#Hostnames
solr_hostname = 
docstore_hostname = 

#API keys
spreadsheet_id = 
recaptcha_secret = 